
body { font-family: Helvetica, Arial, sans-serif; color: #000000; font-size: 10pt; vertical-align: top }

h1, h2, h3   { text-align: center; font-weight: bold }
h1           { font-size: 150%; text-align: center }
h2           { font-size: 130%; text-align: center }
h3           { font-size: 110%; text-align: left}

code         { font-family: courier; font-weight: bold }
tt           { font-family: courier }
em           { font-style: normal; color: #cc0000 }

a { text-decoration: none }
a:link       { color: #0000ff }
a:active     ( color: #990000 }
a:visited    { color: #3333ff }

/* because of the way Firefox handles style sheets, the styles below need to be
   copy and pasted into the style section of each non-menu page */
h1, h2 { margin-top: 5; margin-bottom: 5 }
h3 { margin-top: 0; margin-bottom: 5}
table.page   { align: center; width: 100%; border: no }
p.navigation { font-size: 70%; color: #990000 }
.subtitle { font-size: 70%; font-weight: normal; color: #336699 }
.headerBG { background-color: #ffffcc }
.standoutBG { background-color: white }
.regBG { background-color: #e2ffe2 }
.bottomStyle { font-size: 70%; color: #FFFFFF}